==
<link href="{{ 'assets/css/bootstrap.min.css'|theme }}" rel="stylesheet">
  <link href="{{ 'assets/css/animate.min.css'|theme }}" rel="stylesheet"> 
  <link href="{{ 'assets/css/font-awesome.min.css'|theme }}" rel="stylesheet">
  <link href="{{ 'assets/css/lightbox.css'|theme }}" rel="stylesheet">
  <link href="{{ 'assets/css/main.css" rel="stylesheet'|theme }}">
  <link id="css-preset" href="{{ 'assets/css/presets/preset6.css'|theme }}" rel="stylesheet">
  <link href="{{ 'assets/css/responsive.css'|theme }}" rel="stylesheet">
  <link href="{{ 'assets/css/custom.css'|theme }}" rel="stylesheet">
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico'|theme }}">