@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #f58220 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #f58220;
  border-color: #f58220;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c05d09;
  border-color: #c05d09;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c05d09 !important;
  border-color: #c05d09 !important;
}
.btn-secondary {
  background-color: #f58220;
  border-color: #f58220;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #c05d09;
  border-color: #c05d09;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c05d09 !important;
  border-color: #c05d09 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #a75108;
  color: #a75108;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #f58220;
  border-color: #f58220;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f58220 !important;
  border-color: #f58220 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #a75108;
  color: #a75108;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #f58220;
  border-color: #f58220;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f58220 !important;
  border-color: #f58220 !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #f58220 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #f58220;
}
.btn-social:hover {
  background: #f58220;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #f58220;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #f58220;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f58220;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f58220;
}
.lead a,
.lead a:hover {
  color: #f58220;
}
.lead blockquote {
  border-color: #f58220;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #feefe3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #f58220;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#slider-1y H2 {
  font-size: 48px;
  color: #ffffff;
}
#ext_menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-18 .navbar-caption {
  color: #ffffff;
}
#ext_menu-18 .navbar-toggler {
  color: #f58220;
}
#ext_menu-18 .close-icon::before,
#ext_menu-18 .close-icon::after {
  background-color: #f58220;
}
#ext_menu-18 .link,
#ext_menu-18 .dropdown-item {
  color: #f58220;
}
#ext_menu-18 .link {
  font-size: 0.8rem;
}
#ext_menu-18 .dropdown-item,
#ext_menu-18 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-18 .link:hover,
#ext_menu-18 .dropdown-item:hover,
#ext_menu-18 .link:focus,
#ext_menu-18 .dropdown-item:focus {
  color: #f58220;
}
#ext_menu-18 .link[aria-expanded="true"],
#ext_menu-18 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-18 .nav-dropdown-sm .link:focus,
#ext_menu-18 .nav-dropdown-sm .link:hover,
#ext_menu-18 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-18 .navbar,
#ext_menu-18 .nav-dropdown-sm,
#ext_menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-18 .bg-color.transparent .link {
  color: #f58220;
  transition: none;
}
#ext_menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-18 .bg-color.transparent.opened .link:hover,
#ext_menu-18 .bg-color.transparent.opened .link:focus {
  color: #f58220;
}
#ext_menu-18 .link[aria-expanded="true"],
#ext_menu-18 .dropdown-item[aria-expanded="true"] {
  color: #f58220!important;
}
#header3-1v .mbr-section-title,
#header3-1v .mbr-section-subtitle {
  text-align: center;
}
#header3-1v H3 {
  color: #f58220;
}
#features3-1u H4 {
  color: #f58220;
}
#footer1-4 P {
  color: #000000;
}

#menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-10 .navbar-caption {
  color: #ffffff;
}
#menu-10 .navbar-toggler {
  color: #f58220;
}
#menu-10 .close-icon::before,
#menu-10 .close-icon::after {
  background-color: #f58220;
}
#menu-10 .link,
#menu-10 .dropdown-item {
  color: #f58220;
}
#menu-10 .link {
  font-size: 0.8rem;
}
#menu-10 .dropdown-item,
#menu-10 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-10 .link:hover,
#menu-10 .dropdown-item:hover,
#menu-10 .link:focus,
#menu-10 .dropdown-item:focus {
  color: #f58220;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-menu {
  background: #e6e6e6;
}
#menu-10 .nav-dropdown-sm .link:focus,
#menu-10 .nav-dropdown-sm .link:hover,
#menu-10 .nav-dropdown-sm .dropdown-item:focus,
#menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-10 .navbar,
#menu-10 .nav-dropdown-sm,
#menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-10 .bg-color.transparent .link {
  color: #f58220;
  transition: none;
}
#menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-10 .bg-color.transparent.opened .link:hover,
#menu-10 .bg-color.transparent.opened .link:focus {
  color: #f58220;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-item[aria-expanded="true"] {
  color: #f58220!important;
}
#msg-box5-z P {
  text-align: left;
}
#msg-box5-z H3 {
  text-align: left;
  color: #f58220;
}
#footer1-6 P {
  color: #000000;
}
#header3-v .mbr-section-title,
#header3-v .mbr-section-subtitle {
  text-align: center;
}
#header3-v H3 {
  color: #ffffff;
}
#header3-v SMALL {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#features4-t .card-subtitle {
  color: #bcbcbc;
}
#features4-t .iconbox {
  background-color: #000000;
  border-color: #000000;
}
#features4-t H4 {
  color: #ffffff;
}
#header3-1e .mbr-section-title,
#header3-1e .mbr-section-subtitle {
  text-align: center;
}
#header3-1e H3 {
  color: #f58220;
  text-align: right;
}
#footer1-e P {
  color: #000000;
}
#ext_menu-f .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-f .navbar-caption {
  color: #ffffff;
}
#ext_menu-f .navbar-toggler {
  color: #f58220;
}
#ext_menu-f .close-icon::before,
#ext_menu-f .close-icon::after {
  background-color: #f58220;
}
#ext_menu-f .link,
#ext_menu-f .dropdown-item {
  color: #f58220;
}
#ext_menu-f .link {
  font-size: 0.8rem;
}
#ext_menu-f .dropdown-item,
#ext_menu-f .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-f .link:hover,
#ext_menu-f .dropdown-item:hover,
#ext_menu-f .link:focus,
#ext_menu-f .dropdown-item:focus {
  color: #f58220;
}
#ext_menu-f .link[aria-expanded="true"],
#ext_menu-f .dropdown-menu {
  background: #d6d6d6;
}
#ext_menu-f .nav-dropdown-sm .link:focus,
#ext_menu-f .nav-dropdown-sm .link:hover,
#ext_menu-f .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-f .nav-dropdown-sm .dropdown-item:hover {
  background: #e7e7e7!important;
}
#ext_menu-f .navbar,
#ext_menu-f .nav-dropdown-sm,
#ext_menu-f .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-f .nav-dropdown-sm .dropdown-menu {
  background: #efefef;
}
#ext_menu-f .bg-color.transparent .link {
  color: #f58220;
  transition: none;
}
#ext_menu-f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-f .bg-color.transparent.opened .link:hover,
#ext_menu-f .bg-color.transparent.opened .link:focus {
  color: #f58220;
}
#ext_menu-f .link[aria-expanded="true"],
#ext_menu-f .dropdown-item[aria-expanded="true"] {
  color: #f58220!important;
}
#form1-12 .form-control-label {
  color: #232323;
}
#form1-12 .mbr-section-title {
  color: #f58220;
}
#contacts1-1a STRONG {
  color: #f58220;
}
#footer1-g P {
  color: #000000;
}
#ext_menu-h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-h .navbar-caption {
  color: #ffffff;
}
#ext_menu-h .navbar-toggler {
  color: #f58220;
}
#ext_menu-h .close-icon::before,
#ext_menu-h .close-icon::after {
  background-color: #f58220;
}
#ext_menu-h .link,
#ext_menu-h .dropdown-item {
  color: #f58220;
}
#ext_menu-h .link {
  font-size: 0.8rem;
}
#ext_menu-h .dropdown-item,
#ext_menu-h .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-h .link:hover,
#ext_menu-h .dropdown-item:hover,
#ext_menu-h .link:focus,
#ext_menu-h .dropdown-item:focus {
  color: #f58220;
}
#ext_menu-h .link[aria-expanded="true"],
#ext_menu-h .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-h .nav-dropdown-sm .link:focus,
#ext_menu-h .nav-dropdown-sm .link:hover,
#ext_menu-h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-h .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-h .navbar,
#ext_menu-h .nav-dropdown-sm,
#ext_menu-h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-h .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-h .bg-color.transparent .link {
  color: #f58220;
  transition: none;
}
#ext_menu-h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-h .bg-color.transparent.opened .link:hover,
#ext_menu-h .bg-color.transparent.opened .link:focus {
  color: #f58220;
}
#ext_menu-h .link[aria-expanded="true"],
#ext_menu-h .dropdown-item[aria-expanded="true"] {
  color: #f58220!important;
}
#header2-1k .mbr-section-title {
  color: #000000;
  text-align: center;
  font-size: 36px;
}
#header2-1k .mbr-section-text {
  color: #000000;
  text-align: left;
}
#header3-1o .mbr-section-title,
#header3-1o .mbr-section-subtitle {
  text-align: center;
}
#header3-1o H3 {
  color: #000000;
  font-size: 36px;
}
#header3-22 .mbr-section-title,
#header3-22 .mbr-section-subtitle {
  text-align: center;
}
#header3-22 H3 {
  color: #f58220;
  text-align: right;
}
#ext_menu-1z .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1z .navbar-caption {
  color: #ffffff;
}
#ext_menu-1z .navbar-toggler {
  color: #f58220;
}
#ext_menu-1z .close-icon::before,
#ext_menu-1z .close-icon::after {
  background-color: #f58220;
}
#ext_menu-1z .link,
#ext_menu-1z .dropdown-item {
  color: #f58220;
}
#ext_menu-1z .link {
  font-size: 0.8rem;
}
#ext_menu-1z .dropdown-item,
#ext_menu-1z .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-1z .link:hover,
#ext_menu-1z .dropdown-item:hover,
#ext_menu-1z .link:focus,
#ext_menu-1z .dropdown-item:focus {
  color: #f58220;
}
#ext_menu-1z .link[aria-expanded="true"],
#ext_menu-1z .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-1z .nav-dropdown-sm .link:focus,
#ext_menu-1z .nav-dropdown-sm .link:hover,
#ext_menu-1z .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1z .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-1z .navbar,
#ext_menu-1z .nav-dropdown-sm,
#ext_menu-1z .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1z .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-1z .bg-color.transparent .link {
  color: #f58220;
  transition: none;
}
#ext_menu-1z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1z .bg-color.transparent.opened .link:hover,
#ext_menu-1z .bg-color.transparent.opened .link:focus {
  color: #f58220;
}
#ext_menu-1z .link[aria-expanded="true"],
#ext_menu-1z .dropdown-item[aria-expanded="true"] {
  color: #f58220!important;
}
#content2-23 LI {
  text-align: center;
}
#content2-23 UL {
  text-align: right;
}
#header3-26 .mbr-section-title,
#header3-26 .mbr-section-subtitle {
  text-align: center;
}
#header3-26 H3 {
  color: #f58220;
}
#header3-29 .mbr-section-title,
#header3-29 .mbr-section-subtitle {
  text-align: center;
}
#header3-29 H3 {
  color: #f58220;
  font-size: 30px;
  text-align: right;
}
#footer1-20 P {
  color: #000000;
}
#header3-2d .mbr-section-title,
#header3-2d .mbr-section-subtitle {
  text-align: center;
}
#header3-2d H3 {
  color: #000000;
}
#menu-2b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2b .navbar-caption {
  color: #ffffff;
}
#menu-2b .navbar-toggler {
  color: #f58220;
}
#menu-2b .close-icon::before,
#menu-2b .close-icon::after {
  background-color: #f58220;
}
#menu-2b .link,
#menu-2b .dropdown-item {
  color: #f58220;
}
#menu-2b .link {
  font-size: 0.8rem;
}
#menu-2b .dropdown-item,
#menu-2b .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-2b .link:hover,
#menu-2b .dropdown-item:hover,
#menu-2b .link:focus,
#menu-2b .dropdown-item:focus {
  color: #f58220;
}
#menu-2b .link[aria-expanded="true"],
#menu-2b .dropdown-menu {
  background: #e6e6e6;
}
#menu-2b .nav-dropdown-sm .link:focus,
#menu-2b .nav-dropdown-sm .link:hover,
#menu-2b .nav-dropdown-sm .dropdown-item:focus,
#menu-2b .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2b .navbar,
#menu-2b .nav-dropdown-sm,
#menu-2b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2b .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2b .bg-color.transparent .link {
  color: #f58220;
  transition: none;
}
#menu-2b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2b .bg-color.transparent.opened .link:hover,
#menu-2b .bg-color.transparent.opened .link:focus {
  color: #f58220;
}
#menu-2b .link[aria-expanded="true"],
#menu-2b .dropdown-item[aria-expanded="true"] {
  color: #f58220!important;
}
#header3-2g .mbr-section-title,
#header3-2g .mbr-section-subtitle {
  text-align: center;
}
#header3-2g H3 {
  color: #000000;
  font-size: 32px;
}
#header3-2g SMALL {
  color: #000000;
}
#content2-2f BLOCKQUOTE {
  color: #000000;
}
#header3-2h .mbr-section-title,
#header3-2h .mbr-section-subtitle {
  text-align: center;
}
#header3-2h H3 {
  color: #f58220;
  font-size: 32px;
}
#header3-2n .mbr-section-title,
#header3-2n .mbr-section-subtitle {
  text-align: center;
}
#header3-2n H3 {
  font-size: 16px;
}
#footer1-2c P {
  color: #000000;
}
#footer1-17 P {
  color: #000000;
}
#ext_menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-18 .navbar-caption {
  color: #ffffff;
}
#ext_menu-18 .navbar-toggler {
  color: #f58220;
}
#ext_menu-18 .close-icon::before,
#ext_menu-18 .close-icon::after {
  background-color: #f58220;
}
#ext_menu-18 .link,
#ext_menu-18 .dropdown-item {
  color: #f58220;
}
#ext_menu-18 .link {
  font-size: 0.8rem;
}
#ext_menu-18 .dropdown-item,
#ext_menu-18 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-18 .link:hover,
#ext_menu-18 .dropdown-item:hover,
#ext_menu-18 .link:focus,
#ext_menu-18 .dropdown-item:focus {
  color: #f58220;
}
#ext_menu-18 .link[aria-expanded="true"],
#ext_menu-18 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-18 .nav-dropdown-sm .link:focus,
#ext_menu-18 .nav-dropdown-sm .link:hover,
#ext_menu-18 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-18 .navbar,
#ext_menu-18 .nav-dropdown-sm,
#ext_menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-18 .bg-color.transparent .link {
  color: #f58220;
  transition: none;
}
#ext_menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-18 .bg-color.transparent.opened .link:hover,
#ext_menu-18 .bg-color.transparent.opened .link:focus {
  color: #f58220;
}
#ext_menu-18 .link[aria-expanded="true"],
#ext_menu-18 .dropdown-item[aria-expanded="true"] {
  color: #f58220!important;
}
#header3-1q .mbr-section-title,
#header3-1q .mbr-section-subtitle {
  text-align: center;
}
#header3-1q H3 {
  color: #f58220;
}
#header3-1t .mbr-section-title,
#header3-1t .mbr-section-subtitle {
  text-align: center;
}
#header3-1t H3 {
  color: #f58220;
  text-align: right;
  font-size: 36px;
}
